:root{
    --document-font-size: 16px;
    --document-width: 600px;
    --html-print-scale: 1;
}
html,body{
    margin: 0px;
    padding: 0px;
    width: var(--document-width);
    height: auto;
    overflow: hidden;
}

html{
    font-size: var(--document-font-size);
}

#template_target{
    max-width: var(--document-width);
    min-width: var(--document-width);
    width: var(--document-width);
}

@media print {
    html,body{
        max-width: var(--document-width);
        min-width: var(--document-width);
        width: var(--document-width);
        overflow: hidden;
    }
    @page{
        margin:0px;
    }
    body{
        transform:scale( var(--html-print-scale) );
    }
}
